[Desktop Entry]
Encoding=UTF-8
Name=Wispr
Comment=Wispr P2P Cryptocurrency
Comment[fr]=Wispr, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Wispr, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/wispr-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/wispr;
Categories=Office;
