[Desktop Entry]
Version=1.0
Name=WISPR Core
Comment=WISPR P2P Cryptocurrency
Comment[fr]=WISPR, monnaie virtuelle cryptographique pair à pair
Comment[tr]=WISPR, eşten eşe kriptografik sanal para birimi
Exec=wispr-qt %u
Terminal=false
Type=Application
Icon=wispr128
MimeType=x-scheme-handler/wispr;
Categories=Office;Finance;
StartupWMClass=Wispr-qt
