[Desktop Entry]
Encoding=UTF-8
Name=WISPR
Comment=WISPR P2P Cryptocurrency
Comment[fr]=WISPR, monnaie virtuelle cryptographique pair à pair
Comment[tr]=WISPR, eşten eşe kriptografik sanal para birimi
Exec=rpicoin-qt %u
Terminal=false
Type=Application
Icon=rpicoin128
MimeType=x-scheme-handler/rpicoin;
Categories=Office;Finance;
