[Desktop Entry]
Encoding=UTF-8
Name=RPICoin
Comment=RPICoin P2P Cryptocurrency
Comment[fr]=RPICoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=RPICoin, eşten eşe kriptografik sanal para birimi
Exec=rpicoin-qt %u
Terminal=false
Type=Application
Icon=rpicoin128
MimeType=x-scheme-handler/rpicoin;
Categories=Office;Finance;
