
## <summary>policy for wispr</summary>


########################################
## <summary>
##	Transition to wispr.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`wispr_domtrans',`
	gen_require(`
		type wispr_t, wispr_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, wispr_exec_t, wispr_t)
')


########################################
## <summary>
##	Execute wispr server in the wispr domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wispr_initrc_domtrans',`
	gen_require(`
		type wispr_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, wispr_initrc_exec_t)
')


########################################
## <summary>
##	Search wispr lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wispr_search_lib',`
	gen_require(`
		type wispr_var_lib_t;
	')

	allow $1 wispr_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read wispr lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wispr_read_lib_files',`
	gen_require(`
		type wispr_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, wispr_var_lib_t, wispr_var_lib_t)
')

########################################
## <summary>
##	Manage wispr lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wispr_manage_lib_files',`
	gen_require(`
		type wispr_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, wispr_var_lib_t, wispr_var_lib_t)
')

########################################
## <summary>
##	Manage wispr lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wispr_manage_lib_dirs',`
	gen_require(`
		type wispr_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, wispr_var_lib_t, wispr_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a wispr environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`wispr_admin',`
	gen_require(`
		type wispr_t;
		type wispr_initrc_exec_t;
		type wispr_var_lib_t;
	')

	allow $1 wispr_t:process { ptrace signal_perms };
	ps_process_pattern($1, wispr_t)

	wispr_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 wispr_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, wispr_var_lib_t)

')

